@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark, // <--- Add this line to force dark colors
    ),
    typography: Roboto,
    density: 0,
  ));

  // This tells the browser to prefer dark system colors for scrollbars/backgrounds
  color-scheme: dark;

  // These variables will now automatically pull the "Dark" values from the theme above
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}